<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="stylesheet" href="/public/form-blog.css" />
  <link rel="stylesheet" href="/public/style.css" />
  <script src="https://kit.fontawesome.com/5140afd7e2.js" crossorigin=""></script>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="\public\image\logo.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-control="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle Navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-orange fw-bold" aria-current="page"  href="#">Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-orange fw-bold"
                aria-current="page"
                href="add-project"
                >Add Project</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-orange fw-bold"
                aria-current=""
                href="testimonials"
                >Testimonials</a
              >
            </li>
          </ul>
          <a href="contact" class="btn bg-black text-white px-2">Contact Me</a>
          
        </div>
      </div>
    </nav>